<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Mutual understanding</title>
</head>
<body>
    <h1 class="main-title">Mutual understanding</h1>
    <h3 id="caution" class="caution">条件を入力して下さい!</h3>
    <h3 id="loading" class="loading" style="display: none;">実行中です．しばらくお待ちください．</h3>
    <form method="post">
        <div class="condition">
            <label for="input">Aの条件:</label>
            <input type="text" id="A_Condition" name="A_Condition" placeholder="Aの条件を入力して下さい">
            {% if A_CONDITION and B_CONDITION%}
            <h4 class="now">現在のAの条件：{{ A_CONDITION }}</h4>
            {% endif %}
            <p></p>
            <label for="input"> Bの条件:</label>
            <input type="text" id="B_Condition" name="B_Condition" placeholder="Bの条件を入力して下さい">
            {% if A_CONDITION and B_CONDITION%}
            <h4 class="now">現在のBの条件：{{ B_CONDITION }}</h4>
            {% endif %}
        </div>
        <div class="set">
            <button id="doneButton" type="submit" name="action" value="generate" class="btn done"">実行</button>
            <button id="reloadButton" type="submit" name="action" value="reset" class="btn reset">リセット</button>
        </div>
    </form>
    <div class="selection">
        <h2 class=center>会話文の変更が可能です</h2>
        <h3 class=center>現在の会話文：{{ filename }}</h3>
        <form method="post" class="center" action="/">
            <select name="conversation">
                <option value="unselected">会話文の選択</option>
                <option value="PP0.txt">PP0.txt</option>
                <option value="PP4.txt">PP4.txt</option>
                <option value="PP5.txt">PP5.txt</option>
            </select>
            <button type="submit" name="action" value="select" class="btn">選択</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>会話文</th>
                <th>相互理解度[%]</th>
            </tr>
        </thead>
        {% for log, values in dialogue %}
        <tr>
            <td>{{ log }}</td>
            <td>{{ values }}</td>
            <td style="border: none;">
                <button type="button" onclick="Check(this)" class="btn detail">{{ loop.index }}文目の解釈</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div id="outputA">
        <p style="margin-left:20px;"></p>
    </div>
    <div id="outputB">
        <p style="margin-left:20px;"></p>
    </div>
    <script>
        document.getElementById('reloadButton').addEventListener('click', function () {
            location.reload();
        });

        document.getElementById('doneButton').addEventListener('click', function () {
            document.getElementById('caution').style.display = 'none';
            document.getElementById('loading').style.display = 'block';
            document.getElementById('doneButton').style.visibility ='hidden';
        });

        var tmp = document.getElementsByClassName("detail") ;
        for(var i=0;i<=tmp.length-1;i++){
        //id追加
            tmp[i].setAttribute("id","detail"+i);
            console.log(tmp[i]);
        }

        var resA = {{ resultA | tojson | safe}};
        var resB = {{ resultB | tojson | safe}};
        function Check(ele){
            var tmp = document.getElementsByClassName("detail") ;
            for (var i=1; i<=tmp.length; i++){
                if ((ele.id == ('detail'+(i-1))) && resA != "" && resB != ""){
                    const textA = document.getElementById('outputA');
                    const textB = document.getElementById('outputB');
                    textA.innerHTML = '<p style="margin-left:20px;">'+'Aの'+i+'文目の解釈：'+ resA[i-1] +'</p>';
                    textB.innerHTML = '<p style="margin-left:20px;">'+'Bの'+i+'文目の解釈：'+ resB[i-1] +'</p>';
                }
            }
        }
    </script>
</body>
</html>