.main-title {
    background-color: azure;
    text-align: center;
}
label {
    margin-left: 40px;
    margin-right: 20px;
    font-size: 20px;
}

.caution, .loading{
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
    color: red;
}

.condition {
    float: left;
    margin-left: 40px;
}

.condition input {
    width: 400px;
    height: 30px;
    font-size: 15px;
    margin: 10px 0;
}

button {
    font-size: 18px;
    margin: 10px 20px;
}

.center {
    text-align: center;
    margin: 0 auto;
}

th,td {
    border: solid 1px;
    padding: 10px 15px;
    font-size: 20px;
}

table {
    text-align: center;
    margin: 30px auto;
    border-collapse:  collapse;
}

.selection {
    margin: 50px auto;
    clear: left;
    border: 2px solid red;
    width: 50%;
}

.selection select{
    font-size: 16px;
    padding: 5px;
    margin-right: 7px;
    width: 150px;
    text-align: center;
}

.done {
    background-color: rgb(119, 240, 119);
    border-color: green;
    
}

.set{
    clear: left;
    margin: 0 auto;
    text-align: center;
}

.btn {
    border-radius: 4px;
    opacity: 1;
}

.btn:hover{
    opacity: 0.7;
}

.reset {
    background-color: aqua;
    border-color: blue;
}

thead {
    background-color: rgb(123, 255, 0);
}

.selection h2 {
    margin: 10px 0;
    color: red;
}

.now {
    display: inline-block;
    margin-left: 20px;
    border: 2px solid rgb(52, 52, 175);
}